* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: gray;
    margin: 10px;
    
}

.headder {
    display: flex;
    flex-direction: row;
    background-color: gray;
    margin: 10px; 
}

.content {
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 10px;
    width: fit-content;
    
}

.log {
    height: 40px;
    background-color: white;
    width: 200px;
    margin: 5px;
    padding: 10px;
}
.menubar {
    flex-grow: 1;
    background-color: white;
    margin: 5px;
    padding: 10px;
}

.box {
    flex-grow: 1;
    background-color: white;
    margin: 5px;
    padding: 10px;
}



