* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}



.headder {
    display: flex;
    flex-direction: row;
    background-color: gray;
    margin: 10px; 
}

.log {
    height: 40px;
    background-color: white;
    width: 200px;
    margin: 5px;
    padding: 10px;
}
.menubar {
    flex-grow: 1;
    background-color: white;
    margin: 5px;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 10px;
    height: auto;
    flex-grow: 1;
    
}

.box {
    
    background-color: white;
    margin: 5px;
    padding: 10px;
    overflow: auto;
    width: 350px;
    min-height: 50px;

}
.main {
    display: flex;
}

    
.content {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 10px;
    height: auto;
    
}
.row1 {
    display: flex;
    flex-grow: 1;
    background-color: gray;
    
}
.box1 {
    flex-grow: 1;
    background-color: white;
    margin: 5px;
    padding: 10px;
    overflow: auto;
}

